<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Framework" version="17.1.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="3.0.4492" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>